<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a href="{{ url_for('home') }}" class="home-button" style="position: fixed; top: 10px; left: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; padding: 10px; text-decoration: none; font-size: 24px; transition: background-color 0.3s; z-index: 1000;">
    <i class="fas fa-home"></i>
</a>

<style>
.home-button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
</style>
