{% extends 'base.html' %}

{% block title %}Мои брони{% endblock %}
{% block style %}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4ff;
  margin: 0;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #1E5945; /* Зелёный цвет заголовка таблицы */
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2; /* Чередующиеся цвета строк */
}
tr:hover {
  background-color: #ddd; /* Цвет строки при наведении */
}
h1 {
  color: #1E5945; /* Цвет заголовка */
}

/* Стили для кнопки */
.bookbutton {
  background: none;
  color: #1E5945; /* Цвет текста кнопки в стиле заголовка */
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.bookbutton:hover {
  color: #279b73; /* Более яркий зеленый цвет при наведении */
  text-decoration: none;
}
{% endblock %}

{% block content %}
<h1>Мои брони</h1>
    <table>
        <thead>
            <tr>
                <th>Номер комнаты</th>
                <th>Дата начала брони</th>
                <th>Дата конца брони</th>
                <th>Количество ночей</th>
                <th>Общая сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in bookings_list %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
                <td><a href="/mybookings/review/{{ book[5] }}" class="bookbutton">Оставить отзыв</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}